extends layout

block content
  h1= title
  p Welcome to #{title} 
   body
     table(border="0", width="1000")
       tr
         th(bgcolor="#f5f5dc") 接口功能

         th(bgcolor="#f5f5dc") 测试详情地址

       tr
         td(width="200px", content="50px") 课程体系相关接口

         td(width="700px")
           a(href="http://192.168.19.107:8888/course.html") http://192.168.19.107:8888/course.html

       tr
         td(width="200px", content="50px") 自测次数管理

         td(width="700px")
           a(href="http://192.168.19.107:8888/placement.html") http://192.168.19.107:8888/placement.html

       tr
         td(width="200px", content="50px") sku消课相关

         td(width="700px")
           a(href="http://192.168.19.107:8888/sku消课.html") http://192.168.19.107:8888/sku消课.html

       tr
         td(width="200px", content="50px") 订单管理相关接口

         td(width="700px")
           a(href="http://192.168.19.107:8888/order-report.html") http://192.168.19.107:8888/order-report.html

       tr
         td(width="200px", content="50px") 订单修改验证

         td(width="700px")
           a(href="http://192.168.19.107:8888/ordermodify-report.html") http://192.168.19.107:8888/ordermodify-report.html

       tr
         td(width="200px", content="50px") 班组管理

         td(width="700px")
           a(href="http://192.168.19.107:8888/staff-group.html") http://192.168.19.107:8888/staff-group.html

       tr
         td(width="200px", content="50px") 学生时间配置

         td(width="700px")
           a(href="http://192.168.19.107:8888/stutimeconfig.html") http://192.168.19.107:8888/stutimeconfig.html

       tr
         td(width="200px", content="50px") 老师时间配置

         td(width="700px")
           a(href="http://192.168.19.107:8888/teatimeconfig.html") http://192.168.19.107:8888/teatimeconfig.html
