<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>小班课接口测试</title>
    <link rel="stylesheet" href="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/css/bootstrap.min.css">
    <script src="http://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <blockquote>
                <p>
                    小班课项目接口测试报告
                </p>
                <small>ApiTest</small>
            </blockquote>
            <table class="table table-striped">
                <thead>
                <tr class="info">
                    <th>
                        编号
                    </th>
                    <th>
                        接口名称
                    </th>
                    <th>
                        测试详情地址
                    </th>
                    <th>
                        接口数量
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr class="success">
                    <td>
                        1
                    </td>
                    <td>
                        feedback
                    </td>
                    <td>
                        <a href="http://192.168.19.33:8888/feedback.html">http://192.168.19.33:8888/feedback.html</a>
                    </td>
                    <td>
                        8
                    </td>
                </tr>
                <tr class="success">
                    <td>
                        2
                    </td>
                    <td>
                        课程体系相关接口
                    </td>107
                    <td>
                        <a href="http://192.168.19.33:8888/course.html">http://192.168.19.33:8888/course.html</a>
                    </td>
                    <td>
                        26
                    </td>
                </tr>
                <tr class="success">
                    <td>
                        3
                    </td>
                    <td>
                        自测次数管理
                    </td>
                    <td>
                        <a href="http://192.168.19.33:8888/placement.html">http://192.168.19.33:8888/placement.html</a>
                    </td>
                    <td>
                        6
                    </td>
                </tr>
                <tr class="success">
                    <td>
                        4
                    </td>
                    <td>
                        sku消课相关
                    </td>
                    <td>
                        <a href="http://192.168.19.33:8888/sku消课.html">http://192.168.19.33:8888/sku消课.html</a>
                    </td>
                    <td>
                        7
                    </td>
                </tr>
                <tr class="success">
                    <td>
                        5
                    </td>
                    <td>
                        订单管理相关接口
                    </td>
                    <td>
                        <a href="http://192.168.19.33:8888/order-report.html">http://192.168.19.33:8888/order-report.html</a>
                    </td>
                    <td>
                        29
                    </td>
                </tr>
                <tr class="success">
                    <td>
                        6
                    </td>
                    <td>
                        订单修改验证
                    </td>
                    <td>
                        <a href="http://192.168.19.33:8888/ordermodify-report.html">http://192.168.19.33:8888/ordermodify-report.html</a>
                    </td>
                    <td>
                        10
                    </td>
                </tr>
                <tr class="success">
                    <td>
                        7
                    </td>
                    <td>
                        班组管理
                    </td>
                    <td>
                        <a href="http://192.168.19.33:8888/staff-group.html">http://192.168.19.33:8888/staff-group.html</a>
                    </td>
                    <td>
                        37
                    </td>
                </tr>

                <tr class="success">
                    <td>
                        8
                    </td>
                    <td>
                        学生时间配置
                    </td>
                    <td>
                        <a href="http://192.168.19.33:8888/stutimeconfig.html">http://192.168.19.33:8888/stutimeconfig.html</a>
                    </td>
                    <td>
                        5
                    </td>
                </tr>
                <tr class="success">
                    <td>
                        9
                    </td>
                    <td>
                        老师时间配置
                    </td>
                    <td>
                        <a href="http://192.168.19.33:8888/teatimeconfig.html">http://192.168.19.33s:8888/teatimeconfig.html</a>
                    </td>
                    <td>
                        5
                    </td>
                </tr>
                </tbody>
            </table>
            <p class="table-striped">
            </p>
        </div>
    </div>
</div>
</body>
</html>
