doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    style(type="text/css").
      table
      {
      border-collapse:collapse;
      border: none;
      -ms-word-break: break-all;
      word-break: break-all;
      }
      td{
      border:solid #b3b0b1 1px;
      }
    block content
